
h1{
    font-size: 20px;
    margin: auto;
}
.sfondo{
    background-image: url(../img/pattern.png);
    background-color:aqua;
    
    height: auto;
    background-size: contain;
}

#logo{
    width: 200px;

}
#booleaners{
    display: inline-block;
    color: aqua;
    
}


td
{
	
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    white-space: nowrap;
}
th{
    background-color: blue;
    color: aliceblue;
    text-align: left;
}
.primariga{
    background-color: aqua;
}
.plungo{
    white-space: wrap;
}