.contenitore{
    width: 1000px;
    margin: auto;
    text-align: left;
    background-color: white;
}
.tim1{
    width: 50%;
    display: inline;
  }



h1{
    font-size: 20px;
    margin: auto;
}

.sfondo{
    width: 100%;
    background-size: contain;
    display: flex;
    background-image: url(./img/pattern.png);
    background-color: aqua;
    
}

#logo{
    width: 200px;
    margin: auto;

}

#booleaners{
    display: inline-block;
    color: aqua;  
}

.data{
    color: gray;
}

td{	
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    white-space: nowrap;
}

th{
    background-color: blue;
    color: aliceblue;
    text-align: left;
}

.primariga{
    background-color: aqua;
}

.plungo{
    white-space: wrap;
}

#linkutili{
    color: gray;
}

#fotofinale1{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-size: contain;
    text-align: left;
    width: 240px;
    height: 150px;  
}

#fotofinale2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-size: contain;
    text-align: left;
    width: 240px;
    height: 150px;
}